<!DOCTYPE html>
<html>
<head>
  <title><%= seo_title_text %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Hotjar Tracking Code for www.makerloop.co -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:100410,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</head>
<body style="padding-top:70px">
<%= render 'components/top_navigation' %>
<%= yield :headerwrap %>

<div id="service">
  <div class="container col-md-6 col-md-offset-3">
    <%= yield %>
  </div>
</div>

<%= render 'components/google_analytics' %>
<%= yield :javascripts %>
</body>

</html>
